/* modifications to existing html tags */
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000033;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../images/city/bg-03.png");
    /* background-position: top 200%; */
}

h1 {
    padding-top: 1rem;
    /* text-shadow: 2px 2px 4px #000000; */
    line-height: 2.25rem;
    font-family: 'Anton', sans-serif;
    color: white;
}
    h1 .plan {
        font-size: 3rem;
        position: relative;
        z-index: 99;
    }

    h1 .subtitle {
        float: right;
        font-size: 1.5rem; 
    }

p .intro {
    font-size: 1.5rem;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 0.5rem;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.6);
}

/* classes */

.hidden {
    display: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    display: block;
    text-align: left;
}

.container {
    display: block;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

/* IDs */

#header {
    display: inline-block;
}

#intro-screen {
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    max-width: 700px;
    padding: 10px;
    padding-bottom: 0.5rem;
    margin-top: 6rem;
    background: rgba(0, 0, 33, 0.6);
    border-radius: 7px;
}

#submit-btn {
    width: 150px;
    margin: 0 auto;
}

